@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* app styles */
.App {
  max-width: 1300px;
  margin: 30px auto;
  list-style-type: none;
}
.nav-bar {
  font-family: 'Poppins', sans-serif;
  margin: 30px auto;
  list-style-type: none;
}
.nav-bar ul {
  padding: 0px 20px;
  list-style-type: none;
  position: absolute;
  top: 10px;
  display: flex;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}
.nav-bar ul li .s1 {
  color: #3d37e0;
}
.nav-bar ul .nav-bar-1 {
  letter-spacing: 0;
  white-space: nowrap;
  text-align: left;
  padding-right: 70px;
}
.nav-bar ul button {
  position: absolute;
  cursor: pointer;
  margin-top: -10px;

  align-items: flex-start;
  background-color:#ffffff;
  border: 1px solid #3d37e0;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  min-width: 50px;
  padding: 0.5px 0px;
  
  height: 32px;
  width: 90px;
}
.nav-bar ul button li {
  position: relative;
  bottom: 10px;

  color: #3d37e0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 40px;
  white-space: nowrap;
  text-align: left;
}
.nav-bar ul .button-1 {
  left: 890px;
}
.nav-bar ul .button-2 {
  background-color: #3d37e0;
  left: 1000px;
}
.nav-bar ul .button-2 li { 
  color: white;
}

.find-work {
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./pictures/Sales.jpg);

  background-size:contain;
  object-fit: cover;
  height: 980px;
  width: 1470px;
  
}
.find-work h1 {
  color: var(--black);
  font-size: 45px;
  height: 241px;
  left: 30;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 144px;
  width: 693px;
}
.find-work ul {
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 260px;

  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100px;
}
.find-work ul li {
  color: #3d37e0;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 70px;
  white-space: nowrap;
  text-align: left;
  
}
.find-work ul button {
  align-items: flex-start;
  background-color:#ffffff;
  border: 1px solid #707070;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  min-width: 300px;
  height: 35px; 
  cursor: pointer;

  position: absolute;
}
.find-work ul button li {
  min-height: 30px;
  white-space: nowrap;
  font-size: 15px;
  margin-top: -10px;
}
.find-work .minor-1 {
  top: 80px;
  left: 350px;
}
.find-work .minor-2 {
  top: 80px;
  left: 750px;
}
.find-work .minor-3 {
  top: 150px;
  left: 350px;
}
.find-work .minor-4 {
  top: 150px;
  left: 750px;
}



.Homepage {
  max-width: 1300px;
  margin: 30px auto;
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./pictures/Main.jpg);

  background-size:contain;
  object-fit: cover;
  height: 880px;
  width: 1470px;
}

.Homepage .text-1 {
  color: var(--black);
  font-size: 65px;
  height: 241px;
  left: 50;
  letter-spacing: 0;
  line-height: 63px;
  position: absolute;
  top: 144px;
  width: 693px;
}

.Homepage .text-2 {
  color: #6c6c6c;
  font-size: 30px;
  height: 113px;
  left: 50;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  top: 408px;
  width: 495px;
}

.Homepage button {
  cursor: pointer;
  align-items: flex-start;
  background-color:#ffffff;
  border: 1px solid #3d37e0;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  min-width: 30px;
  padding: 0.5px 50px;
  
  height: 42px;
  width: 150px;

  position: absolute;
  top: 540px;
}

.Homepage .button-1 {
  background-color: #3d37e0;
  left: 230px;
}

.Homepage .button-2 {
  left: 410px;
}

.Homepage .button-1 li {
  color: white;
}

.Homepage button li {
  list-style-type: none;
  position: relative;
  bottom: 6px;

  color: #3d37e0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 40px;
  white-space: nowrap;
  text-align: left;
}



/*
nav{
  background-color: 
#ffffff;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1920px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  color: 
#000000;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 30px;
  white-space: nowrap;
}

.find-work {
  padding: 20px;
  margin-bottom: 20px;
}
.find-work ul {
  padding: 0;
  list-style-type: none;
}
.find-work.major {
  color: #3d37e0;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 49px;
  white-space: nowrap;
}
.find-work button {
  align-items: flex-start;
  background-color:#ffffff;
  border: 1px solid #707070;
  border-radius: 27px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  min-width: 398px;
  padding: 0.5px 65px;
}

.find-work.minor {
  color: #3d37e0;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 33px;
  white-space: nowrap;
}*/